# Movies Recommendation by Content Based Technique

This notebook will recommend top 10 movies to users after user provide the movie name. This is implemented using content based recommendation technique with NLP concept using TFIDF count vectorizer.

In [1]:
#Importing Libraries
import pandas as pd
import numpy as np

In [5]:
#Importing Dataset, download in kaggle site : https://www.kaggle.com/tmdb/tmdb-movie-metadata
credit_data = pd.read_csv('tmdb_5000_credits.csv')
movie_data = pd.read_csv('tmdb_5000_movies.csv')

In [7]:
credit_data.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
movie_data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [9]:
credit_data.describe()

            movie_id
count    4803.000000
mean    57165.484281
std     88694.614033
min         5.000000
25%      9014.500000
50%     14629.000000
75%     58610.500000
max    459488.000000

In [10]:
credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [11]:
movie_data.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count
count,4.803000e+03,4803.000000,4803.000000,4.803000e+03,4801.000000,4803.000000,4803.000000
mean,2.904504e+07,57165.484281,21.492301,8.226064e+07,106.875859,6.092172,690.217989
std,4.072239e+07,88694.614033,31.816650,1.628571e+08,22.611935,1.194612,1234.585891
min,0.000000e+00,5.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000
25%,7.900000e+05,9014.500000,4.668070,0.000000e+00,94.000000,5.600000,54.000000
50%,1.500000e+07,14629.000000,12.921594,1.917000e+07,103.000000,6.200000,235.000000
75%,4.000000e+07,58610.500000,28.313505,9.291719e+07,118.000000,6.800000,737.000000
max,3.800000e+08,459488.000000,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [12]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [17]:
print("Shape of Credit :  {}".format(credit_data.shape))
print("Shape of Movie :  {}".format(movie_data.shape))

Shape of Credit :  (4803, 4)
Shape of Movie :  (4803, 20)

In [18]:
credit_col_rename = credit_data.rename(index=str,columns={'movie_id':'id'})

In [19]:
credit_col_rename

,id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [20]:
#Merge those two dataset using ID as foreign key
movie = movie_data.merge(credit_col_rename,on='id')

In [21]:
movie

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [22]:
movie.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title_x', 'vote_average',
       'vote_count', 'title_y', 'cast', 'crew'],
      dtype='object')

In [33]:
un_col=['homepage','title_x','title_y','status','production_companies']
movie[un_col]

,homepage,title_x,title_y,status,production_companies
0,http://www.avatarmovie.com/,Avatar,Avatar,Released,"[{""name"": ""Ingenious Film Partners"", ""id"": 289..."
1,http://disney.go.com/disneypictures/pirates/,Pirates of the Caribbean: At World's End,Pirates of the Caribbean: At World's End,Released,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""..."
2,http://www.sonypictures.com/movies/spectre/,Spectre,Spectre,Released,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam..."
3,http://www.thedarkknightrises.com/,The Dark Knight Rises,The Dark Knight Rises,Released,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""..."
4,http://movies.disney.com/john-carter,John Carter,John Carter,Released,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]"
...,...,...,...,...,...
4798,NaN,El Mariachi,El Mariachi,Released,"[{""name"": ""Columbia Pictures"", ""id"": 5}]"
4799,NaN,Newlyweds,Newlyweds,Released,[]
4800,http://www.hallmarkchannel.com/signedsealeddel...,"Signed, Sealed, Delivered","Signed, Sealed, Delivered",Released,"[{""name"": ""Front Street Pictures"", ""id"": 3958}..."
4801,http://shanghaicalling.com/,Shanghai Calling,Shanghai Calling,Released,[]
4802,NaN,My Date with Drew,My Date with Drew,Released,"[{""name"": ""rusty bear entertainment"", ""id"": 87..."

In [34]:
#Lets drop the unnecessary columns
movie = movie.drop(columns=['homepage','title_x','title_y','status','production_companies'])

In [35]:
movie.head()

,budget,genres,id,keywords,original_language,original_title,overview,popularity,production_countries,release_date,revenue,runtime,spoken_languages,tagline,vote_average,vote_count,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Enter the World of Pandora.,7.2,11800,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","At the end of the world, the adventure begins.",6.9,4500,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",A Plan No One Escapes,6.3,4466,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",The Legend Ends,7.6,9106,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]","Lost in our world, found in another.",6.1,2124,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [36]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   id                    4803 non-null   int64
 3   keywords              4803 non-null   object
 4   original_language     4803 non-null   object
 5   original_title        4803 non-null   object
 6   overview              4800 non-null   object
 7   popularity            4803 non-null   float64
 8   production_countries  4803 non-null   object
 9   release_date          4802 non-null   object
 10  revenue               4803 non-null   int64
 11  runtime               4801 non-null   float64
 12  spoken_languages      4803 non-null   object
 13  tagline               3959 non-null   object
 14  vote_average          4803 non-null   float64
 15  vote_count            4803 non-null   int64
 16  cast                  4803 non-null   object
 17  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(11)
memory usage: 712.9+ KB

## Content Based Recommendation System

Lets build recommendation based on the OVERVIEW of movies by user. So when user give us Movie name, we will recommend accordingly.

In [39]:
movie.head(1)['overview']

0    In the 22nd century, a paraplegic Marine is di...
Name: overview, dtype: object

### Using Tf-IDF Vectorizer to formulate vectorization matrix

In [40]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [50]:
tf = TfidfVectorizer(
    min_df=3,
    max_features=None,
    strip_accents='unicode',
    analyzer='word',
    token_pattern=r'\w{1,}',
    ngram_range=(1,3),
    stop_words='english'
)

In [51]:
movie['overview']  = movie['overview'].fillna('')

In [52]:
#Fitting the TF-IDF on 'overview' text
tf_matrix = tf.fit_transform(movie['overview'])

In [53]:
tf_matrix

<4803x10417 sparse matrix of type '<class 'numpy.float64'>'
	with 127220 stored elements in Compressed Sparse Row format>

In [54]:
tf_matrix.shape

(4803, 10417)

In [55]:
from sklearn.metrics.pairwise import sigmoid_kernel

In [56]:
#Compute sigmoid kernel
sig = sigmoid_kernel(tf_matrix,tf_matrix)

In [58]:
sig[0]

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [59]:
#Reverse mapping of indices and movie titles
indices = pd.Series(movie.index,index=movie['original_title']).drop_duplicates()

In [66]:
indices

original_title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [63]:
indices['Avatar']

0

In [64]:
sig[0]

array([0.76163447, 0.76159416, 0.76159416, ..., 0.76159416, 0.76159416,
       0.76159416])

In [67]:
sorted(list(enumerate(sig[indices['Avatar']])),key=lambda x:x[1],reverse=True)

[(0, 0.7616344692549826),
 (1341, 0.7616025920447054),
 (634, 0.7616024401965419),
 (3604, 0.7616014406892477),
 (2130, 0.7616011812503369),
 (775, 0.7616007762729179),
 (529, 0.7615992890001902),
 (151, 0.761598879941716),
 (311, 0.7615988278895982),
 (847, 0.7615985500328715),
 (942, 0.7615982329969357),
 (36, 0.7615978049286746),
 (570, 0.7615978022053305),
 (1610, 0.7615977966096297),
 (3070, 0.7615976645241046),
 (1784, 0.7615975383363387),
 (1033, 0.7615975196714474),
 (2578, 0.7615975094523114),
 (1013, 0.7615974265257724),
 (3724, 0.7615974179035275),
 (4211, 0.7615973869264399),
 (1213, 0.7615973745472654),
 (150, 0.7615973574871462),
 (4039, 0.7615972111762077),
 (2628, 0.7615971932020029),
 (312, 0.761597191124526),
 (614, 0.7615971449141005),
 (281, 0.7615971056794063),
 (174, 0.7615970985055746),
 (1345, 0.7615970627704598),
 (3624, 0.761597037462512),
 (1274, 0.761597015214184),
 (1959, 0.761596994311261),
 (3970, 0.7615969681970558),
 (972, 0.7615969165740755),
 (2767, 0.761596899007025),
 (2967, 0.7615968863097033),
 (1633, 0.7615967890806817),
 (1301, 0.7615967833743845),
 (3493, 0.7615967488614812),
 (2614, 0.76159674080851),
 (404, 0.7615967350155864),
 (236, 0.7615967212316644),
 (45, 0.7615967075210811),
 (2875, 0.7615966834351531),
 (2218, 0.7615966683714512),
 (3618, 0.7615966626681535),
 (83, 0.7615966625302244),
 (74, 0.7615966472395597),
 (31, 0.7615966149431749),
 (823, 0.7615966096873432),
 (1653, 0.761596594757801),
 (3948, 0.7615965776761827),
 (3197, 0.7615965775273269),
 (3710, 0.7615965662396118),
 (3458, 0.7615965464974156),
 (2684, 0.7615965306180128),
 (2616, 0.7615965121592418),
 (68, 0.7615965042165657),
 (2636, 0.7615964859119819),
 (2645, 0.7615964491914011),
 (1914, 0.7615964256207688),
 (1513, 0.7615964189209907),
 (2964, 0.7615964133115172),
 (1843, 0.7615964128873344),
 (2990, 0.761596373617361),
 (2509, 0.7615963585020278),
 (985, 0.7615963574657382),
 (3302, 0.7615963484532906),
 (3695, 0.7615963477702007),
 (2626, 0.7615963420344452),
 (4754, 0.7615963405008498),
 (951, 0.7615963165966932),
 (1482, 0.761596302865222),
 (617, 0.7615962986446905),
 (1528, 0.7615962973380742),
 (1547, 0.761596277521831),
 (568, 0.761596274814055),
 (1318, 0.7615962658723483),
 (1644, 0.761596265802828),
 (582, 0.7615962644518778),
 (1198, 0.7615962643956822),
 (369, 0.7615962566856931),
 (3336, 0.76159625013945),
 (2132, 0.76159624543861),
 (2327, 0.7615962395212394),
 (1016, 0.7615962296377167),
 (2424, 0.7615962287250666),
 (1199, 0.7615962225507502),
 (2721, 0.7615962042490193),
 (2193, 0.7615962003384505),
 (1802, 0.7615961975834483),
 (1034, 0.7615961909578663),
 (646, 0.7615961866697586),
 (1782, 0.7615961841980563),
 (4328, 0.7615961718578386),
 (557, 0.7615961662670964),
 (507, 0.7615961291966684),
 (1158, 0.7615961247851558),
 (4301, 0.7615961242326041),
 (3747, 0.7615961176513455),
 (3104, 0.7615961129203949),
 (3419, 0.7615961100652471),
 (1438, 0.7615961069918081),
 (4176, 0.7615961066797083),
 (871, 0.7615961051289788),
 (894, 0.7615960958479553),
 (3306, 0.7615960880396517),
 (3172, 0.7615960872308283),
 (107, 0.7615960856836885),
 (2781, 0.7615960760951735),
 (2016, 0.7615960738521175),
 (475, 0.7615960701897372),
 (1163, 0.7615960660493207),
 (27, 0.761596052213504),
 (2370, 0.7615960510962096),
 (2951, 0.7615960463913041),
 (513, 0.7615960403601341),
 (275, 0.7615960214760913),
 (199, 0.7615960182830631),
 (2726, 0.7615960133240884),
 (1763, 0.761596010445266),
 (483, 0.7615960042550826),
 (4796, 0.7615959915099818),
 (1434, 0.7615959898971171),
 (3297, 0.7615959892338301),
 (2194, 0.7615959762016371),
 (3396, 0.7615959612734033),
 (2226, 0.7615959576353353),
 (3312, 0.7615959520887878),
 (2878, 0.7615959503047353),
 (1967, 0.761595938147632),
 (1275, 0.761595933862296),
 (149, 0.7615959326474931),
 (2808, 0.7615959312271188),
 (1735, 0.7615958984162909),
 (1796, 0.7615958951411035),
 (1649, 0.7615958933662925),
 (140, 0.7615958930936799),
 (2543, 0.7615958863708167),
 (1172, 0.7615958853822051),
 (539, 0.7615958848001594),
 (2658, 0.7615958823439288),
 (2382, 0.761595873119657),
 (3087, 0.7615958721509773),
 (4187, 0.7615958712102856),
 (4591, 0.7615958667424414),
 (1068, 0.7615958652838685),
 (2008, 0.7615958584995954),
 (535, 0.7615958537303071),
 (4042, 0.7615958383668701),
 (1491, 0.761595836217581),
 (1817, 0.7615958283305584),
 (373, 0.7615958273216734),
 (4313, 0.7615958233656733),
 (3908, 0.7615958097738713),
 (1402, 0.7615958062741065),
 (4263, 0.7615958060466897),
 (148, 0.7615957914477711),
 (7, 0.7615957895326072),
 (835, 0.7615957845898554),
 (4637, 0.7615957772697745),
 (626, 0.7615957733176144),
 (946, 0.7615957732257952),
 (2920, 0.7615957701808957),
 (1020, 0.7615957658384692),
 (3221, 0.7615957621761836),
 (487, 0.7615957550441925),
 (4617, 0.761595747109246),
 (1118, 0.7615957465424943),
 (4481, 0.7615957437430961),
 (467, 0.7615957417913435),
 (3098, 0.7615957396514939),
 (1840, 0.7615957379381149),
 (4106, 0.7615957283772483),
 (3643, 0.7615957279500878),
 (3656, 0.7615957215033522),
 (1414, 0.7615957115039446),
 (3068, 0.7615956957786536),
 (1285, 0.7615956866412045),
 (1326, 0.7615956854667424),
 (3105, 0.761595684424736),
 (3191, 0.7615956787401215),
 (1471, 0.7615956778895216),
 (4649, 0.7615956766474474),
 (1279, 0.7615956757168425),
 (581, 0.7615956751868544),
 (3833, 0.7615956696034422),
 (4119, 0.7615956659630947),
 (2529, 0.7615956648477953),
 (2797, 0.7615956635037239),
 (466, 0.7615956625690683),
 (1467, 0.7615956591819314),
 (4347, 0.7615956589738376),
 (2142, 0.7615956563299601),
 (26, 0.7615956519417341),
 (2863, 0.7615956466050584),
 (1920, 0.7615956425178296),
 (3789, 0.7615956365824154),
 (365, 0.7615956299590848),
 (3364, 0.7615956284572076),
 (1067, 0.761595627792392),
 (2724, 0.7615956246714333),
 (1042, 0.7615956241569592),
 (1188, 0.7615956187230214),
 (495, 0.7615956183628122),
 (3501, 0.761595609644332),
 (4038, 0.7615956081079698),
 (1272, 0.761595606420954),
 (2874, 0.7615955980185278),
 (4376, 0.7615955944733047),
 (3626, 0.7615955879912529),
 (2051, 0.7615955875808896),
 (1665, 0.7615955871648122),
 (1004, 0.761595586079427),
 (1175, 0.7615955771308923),
 (4045, 0.7615955740519189),
 (91, 0.7615955550222522),
 (549, 0.7615955488271593),
 (2496, 0.7615955474335219),
 (2876, 0.7615955432181598),
 (47, 0.7615955384557764),
 (1449, 0.7615955361795915),
 (672, 0.7615955355868363),
 (1246, 0.7615955312012009),
 (3776, 0.761595528017596),
 (134, 0.7615955195694171),
 (2011, 0.7615955088657531),
 (1106, 0.7615954948467551),
 (3004, 0.7615954853768091),
 (4074, 0.7615954805172884),
 (1271, 0.761595475056424),
 (2408, 0.7615954745528808),
 (1201, 0.761595473770784),
 (461, 0.7615954726783205),
 (2403, 0.761595471222728),
 (4630, 0.7615954682378785),
 (3498, 0.7615954677370163),
 (3249, 0.7615954359276019),
 (637, 0.7615954328830782),
 (3018, 0.761595432331076),
 (875, 0.7615954255336367),
 (1377, 0.7615954213943512),
 (1463, 0.7615954195640265),
 (2314, 0.7615954171944925),
 (3516, 0.7615954167483334),
 (3570, 0.7615954148017214),
 (692, 0.7615954090334308),
 (1298, 0.7615954038138717),
 (454, 0.7615953903142454),
 (313, 0.7615953879202044),
 (430, 0.7615953861886173),
 (1753, 0.7615953836042417),
 (2541, 0.7615953778346759),
 (3161, 0.7615953741259108),
 (3616, 0.7615953697304527),
 (1117, 0.761595369226066),
 (2789, 0.7615953568721628),
 (3993, 0.7615953496471042),
 (2859, 0.7615953491582346),
 (1217, 0.7615953481883324),
 (1834, 0.761595346646396),
 (2599, 0.761595339534173),
 (3971, 0.7615953326080899),
 (2048, 0.76159532919358),
 (3931, 0.7615953268126717),
 (1529, 0.7615953244509112),
 (473, 0.761595319151694),
 (4629, 0.7615953183838018),
 (2024, 0.7615953167896162),
 (1741, 0.761595305926017),
 (1532, 0.7615953058035463),
 (1594, 0.761595303937205),
 (3944, 0.7615953026850011),
 (632, 0.7615953020681224),
 (595, 0.7615953002282556),
 (785, 0.7615952978315944),
 (2220, 0.7615952916340477),
 (4795, 0.7615952909026414),
 (184, 0.7615952898595124),
 (2250, 0.7615952865808933),
 (1999, 0.7615952845509737),
 (1939, 0.7615952835464546),
 (4288, 0.7615952798319914),
 (1606, 0.7615952792350351),
 (2735, 0.7615952747574193),
 (488, 0.7615952710703457),
 (3195, 0.7615952694959034),
 (137, 0.7615952653192626),
 (2664, 0.7615952632133014),
 (127, 0.7615952550317294),
 (3351, 0.7615952516078983),
 (3325, 0.7615952491100798),
 (5, 0.7615952437887401),
 (1053, 0.7615952431540691),
 (2229, 0.7615952426656573),
 (1412, 0.761595241488205),
 (2109, 0.7615952406060968),
 (1278, 0.7615952386459338),
 (2081, 0.7615952381572539),
 (3723, 0.7615952338976479),
 (4323, 0.7615952325960464),
 (3158, 0.7615952296685369),
 (307, 0.7615952267278604),
 (3294, 0.7615952219603241),
 (838, 0.7615952211492703),
 (1012, 0.761595219335575),
 (1957, 0.7615952144289194),
 (2583, 0.7615952140209548),
 (1138, 0.761595211256402),
 (1365, 0.7615952022867548),
 (4273, 0.7615952012708482),
 (2819, 0.7615951940224787),
 (432, 0.7615951922831856),
 (3096, 0.7615951885419455),
 (899, 0.7615951875614988),
 (502, 0.7615951834566266),
 (787, 0.7615951829339418),
 (4057, 0.7615951815344234),
 (87, 0.7615951803650303),
 (29, 0.76159517176877),
 (1319, 0.7615951587241059),
 (270, 0.7615951552749265),
 (854, 0.7615951484027512),
 (3439, 0.7615951408874505),
 (342, 0.7615951404266205),
 (1395, 0.761595138878024),
 (3556, 0.7615951333637074),
 (2258, 0.7615951333250175),
 (2646, 0.7615951332003016),
 (2366, 0.7615951299151053),
 (2066, 0.7615951271416924),
 (3386, 0.7615951263471671),
 (883, 0.7615951246160831),
 (4542, 0.7615951195752577),
 (139, 0.7615951193901909),
 (372, 0.761595114747946),
 (3666, 0.7615951146388356),
 (2550, 0.7615951123890152),
 (420, 0.7615951118883527),
 (2812, 0.7615951116567278),
 (2936, 0.7615951094698706),
 (3804, 0.7615951075343576),
 (3729, 0.7615951050065743),
 (782, 0.7615951041533544),
 (999, 0.7615951032152334),
 (131, 0.7615951013716523),
 (3945, 0.7615950977653585),
 (1678, 0.7615950971381387),
 (4550, 0.7615950893126732),
 (4260, 0.7615950813017206),
 (635, 0.7615950811668801),
 (4654, 0.761595080721443),
 (2198, 0.7615950756664509),
 (2358, 0.7615950706756925),
 (1912, 0.7615950679771003),
 (43, 0.7615950666597106),
 (3, 0.761595063615533),
 (1727, 0.761595062887141),
 (1672, 0.761595062125544),
 (901, 0.7615950563443812),
 (1822, 0.7615950550645777),
 (301, 0.7615950438772727),
 (3657, 0.7615950426194548),
 (2361, 0.761595037436886),
 (1506, 0.7615950334478344),
 (2687, 0.761595032127427),
 (804, 0.7615950319934462),
 (3427, 0.7615950319113125),
 (213, 0.7615950314820651),
 (11, 0.7615950265341389),
 (2644, 0.7615950164678802),
 (1302, 0.7615950122607327),
 (1525, 0.7615949958913605),
 (3534, 0.7615949870391522),
 (758, 0.7615949851037334),
 (1555, 0.7615949830284519),
 (2427, 0.7615949826816384),
 (2704, 0.7615949821216367),
 (228, 0.7615949776277193),
 (794, 0.7615949758673355),
 (2482, 0.7615949752368155),
 (588, 0.7615949713069267),
 (1531, 0.7615949666680604),
 (1354, 0.7615949475456374),
 (170, 0.7615949295220137),
 (1473, 0.7615949282939766),
 (2197, 0.7615949158154601),
 (4007, 0.7615949131790196),
 (1986, 0.7615949122702746),
 (412, 0.7615949112725982),
 (239, 0.7615949033468363),
 (206, 0.7615949014321785),
 (1737, 0.7615949004854957),
 (456, 0.7615948984185059),
 (2147, 0.761594897162202),
 (790, 0.7615948957115385),
 (4653, 0.7615948951060197),
 (4526, 0.7615948945200941),
 (277, 0.7615948872671008),
 (596, 0.7615948722537843),
 (2160, 0.761594865893815),
 (406, 0.7615948598548021),
 (1892, 0.761594853636581),
 (153, 0.7615948427239921),
 (222, 0.7615948402014777),
 (343, 0.7615948315544268),
 (1779, 0.7615948165367533),
 (89, 0.7615948066375113),
 (102, 0.761594805076874),
 (4679, 0.7615947972795807),
 (230, 0.7615947671063831),
 (2043, 0.7615947414214266),
 (3505, 0.7615947392055866),
 (599, 0.7615947385973798),
 (3550, 0.7615947283166817),
 (2144, 0.7615947268298923),
 (4326, 0.7615947190583517),
 (1, 0.7615941559557649),
 (2, 0.7615941559557649),
 (4, 0.7615941559557649),
 (6, 0.7615941559557649),
 (8, 0.7615941559557649),
 (9, 0.7615941559557649),
 (10, 0.7615941559557649),
 (12, 0.7615941559557649),
 (13, 0.7615941559557649),
 (14, 0.7615941559557649),
 (15, 0.7615941559557649),
 (16, 0.7615941559557649),
 (17, 0.7615941559557649),
 (18, 0.7615941559557649),
 (19, 0.7615941559557649),
 (20, 0.7615941559557649),
 (21, 0.7615941559557649),
 (22, 0.7615941559557649),
 (23, 0.7615941559557649),
 (24, 0.7615941559557649),
 (25, 0.7615941559557649),
 (28, 0.7615941559557649),
 (30, 0.7615941559557649),
 (32, 0.7615941559557649),
 (33, 0.7615941559557649),
 (34, 0.7615941559557649),
 (35, 0.7615941559557649),
 (37, 0.7615941559557649),
 (38, 0.7615941559557649),
 (39, 0.7615941559557649),
 (40, 0.7615941559557649),
 (41, 0.7615941559557649),
 (42, 0.7615941559557649),
 (44, 0.7615941559557649),
 (46, 0.7615941559557649),
 (48, 0.7615941559557649),
 (49, 0.7615941559557649),
 (50, 0.7615941559557649),
 (51, 0.7615941559557649),
 (52, 0.7615941559557649),
 (53, 0.7615941559557649),
 (54, 0.7615941559557649),
 (55, 0.7615941559557649),
 (56, 0.7615941559557649),
 (57, 0.7615941559557649),
 (58, 0.7615941559557649),
 (59, 0.7615941559557649),
 (60, 0.7615941559557649),
 (61, 0.7615941559557649),
 (62, 0.7615941559557649),
 (63, 0.7615941559557649),
 (64, 0.7615941559557649),
 (65, 0.7615941559557649),
 (66, 0.7615941559557649),
 (67, 0.7615941559557649),
 (69, 0.7615941559557649),
 (70, 0.7615941559557649),
 (71, 0.7615941559557649),
 (72, 0.7615941559557649),
 (73, 0.7615941559557649),
 (75, 0.7615941559557649),
 (76, 0.7615941559557649),
 (77, 0.7615941559557649),
 (78, 0.7615941559557649),
 (79, 0.7615941559557649),
 (80, 0.7615941559557649),
 (81, 0.7615941559557649),
 (82, 0.7615941559557649),
 (84, 0.7615941559557649),
 (85, 0.7615941559557649),
 (86, 0.7615941559557649),
 (88, 0.7615941559557649),
 (90, 0.7615941559557649),
 (92, 0.7615941559557649),
 (93, 0.7615941559557649),
 (94, 0.7615941559557649),
 (95, 0.7615941559557649),
 (96, 0.7615941559557649),
 (97, 0.7615941559557649),
 (98, 0.7615941559557649),
 (99, 0.7615941559557649),
 (100, 0.7615941559557649),
 (101, 0.7615941559557649),
 (103, 0.7615941559557649),
 (104, 0.7615941559557649),
 (105, 0.7615941559557649),
 (106, 0.7615941559557649),
 (108, 0.7615941559557649),
 (109, 0.7615941559557649),
 (110, 0.7615941559557649),
 (111, 0.7615941559557649),
 (112, 0.7615941559557649),
 (113, 0.7615941559557649),
 (114, 0.7615941559557649),
 (115, 0.7615941559557649),
 (116, 0.7615941559557649),
 (117, 0.7615941559557649),
 (118, 0.7615941559557649),
 (119, 0.7615941559557649),
 (120, 0.7615941559557649),
 (121, 0.7615941559557649),
 (122, 0.7615941559557649),
 (123, 0.7615941559557649),
 (124, 0.7615941559557649),
 (125, 0.7615941559557649),
 (126, 0.7615941559557649),
 (128, 0.7615941559557649),
 (129, 0.7615941559557649),
 (130, 0.7615941559557649),
 (132, 0.7615941559557649),
 (133, 0.7615941559557649),
 (135, 0.7615941559557649),
 (136, 0.7615941559557649),
 (138, 0.7615941559557649),
 (141, 0.7615941559557649),
 (142, 0.7615941559557649),
 (143, 0.7615941559557649),
 (144, 0.7615941559557649),
 (145, 0.7615941559557649),
 (146, 0.7615941559557649),
 (147, 0.7615941559557649),
 (152, 0.7615941559557649),
 (154, 0.7615941559557649),
 (155, 0.7615941559557649),
 (156, 0.7615941559557649),
 (157, 0.7615941559557649),
 (158, 0.7615941559557649),
 (159, 0.7615941559557649),
 (160, 0.7615941559557649),
 (161, 0.7615941559557649),
 (162, 0.7615941559557649),
 (163, 0.7615941559557649),
 (164, 0.7615941559557649),
 (165, 0.7615941559557649),
 (166, 0.7615941559557649),
 (167, 0.7615941559557649),
 (168, 0.7615941559557649),
 (169, 0.7615941559557649),
 (171, 0.7615941559557649),
 (172, 0.7615941559557649),
 (173, 0.7615941559557649),
 (175, 0.7615941559557649),
 (176, 0.7615941559557649),
 (177, 0.7615941559557649),
 (178, 0.7615941559557649),
 (179, 0.7615941559557649),
 (180, 0.7615941559557649),
 (181, 0.7615941559557649),
 (182, 0.7615941559557649),
 (183, 0.7615941559557649),
 (185, 0.7615941559557649),
 (186, 0.7615941559557649),
 (187, 0.7615941559557649),
 (188, 0.7615941559557649),
 (189, 0.7615941559557649),
 (190, 0.7615941559557649),
 (191, 0.7615941559557649),
 (192, 0.7615941559557649),
 (193, 0.7615941559557649),
 (194, 0.7615941559557649),
 (195, 0.7615941559557649),
 (196, 0.7615941559557649),
 (197, 0.7615941559557649),
 (198, 0.7615941559557649),
 (200, 0.7615941559557649),
 (201, 0.7615941559557649),
 (202, 0.7615941559557649),
 (203, 0.7615941559557649),
 (204, 0.7615941559557649),
 (205, 0.7615941559557649),
 (207, 0.7615941559557649),
 (208, 0.7615941559557649),
 (209, 0.7615941559557649),
 (210, 0.7615941559557649),
 (211, 0.7615941559557649),
 (212, 0.7615941559557649),
 (214, 0.7615941559557649),
 (215, 0.7615941559557649),
 (216, 0.7615941559557649),
 (217, 0.7615941559557649),
 (218, 0.7615941559557649),
 (219, 0.7615941559557649),
 (220, 0.7615941559557649),
 (221, 0.7615941559557649),
 (223, 0.7615941559557649),
 (224, 0.7615941559557649),
 (225, 0.7615941559557649),
 (226, 0.7615941559557649),
 (227, 0.7615941559557649),
 (229, 0.7615941559557649),
 (231, 0.7615941559557649),
 (232, 0.7615941559557649),
 (233, 0.7615941559557649),
 (234, 0.7615941559557649),
 (235, 0.7615941559557649),
 (237, 0.7615941559557649),
 (238, 0.7615941559557649),
 (240, 0.7615941559557649),
 (241, 0.7615941559557649),
 (242, 0.7615941559557649),
 (243, 0.7615941559557649),
 (244, 0.7615941559557649),
 (245, 0.7615941559557649),
 (246, 0.7615941559557649),
 (247, 0.7615941559557649),
 (248, 0.7615941559557649),
 (249, 0.7615941559557649),
 (250, 0.7615941559557649),
 (251, 0.7615941559557649),
 (252, 0.7615941559557649),
 (253, 0.7615941559557649),
 (254, 0.7615941559557649),
 (255, 0.7615941559557649),
 (256, 0.7615941559557649),
 (257, 0.7615941559557649),
 (258, 0.7615941559557649),
 (259, 0.7615941559557649),
 (260, 0.7615941559557649),
 (261, 0.7615941559557649),
 (262, 0.7615941559557649),
 (263, 0.7615941559557649),
 (264, 0.7615941559557649),
 (265, 0.7615941559557649),
 (266, 0.7615941559557649),
 (267, 0.7615941559557649),
 (268, 0.7615941559557649),
 (269, 0.7615941559557649),
 (271, 0.7615941559557649),
 (272, 0.7615941559557649),
 (273, 0.7615941559557649),
 (274, 0.7615941559557649),
 (276, 0.7615941559557649),
 (278, 0.7615941559557649),
 (279, 0.7615941559557649),
 (280, 0.7615941559557649),
 (282, 0.7615941559557649),
 (283, 0.7615941559557649),
 (284, 0.7615941559557649),
 (285, 0.7615941559557649),
 (286, 0.7615941559557649),
 (287, 0.7615941559557649),
 (288, 0.7615941559557649),
 (289, 0.7615941559557649),
 (290, 0.7615941559557649),
 (291, 0.7615941559557649),
 (292, 0.7615941559557649),
 (293, 0.7615941559557649),
 (294, 0.7615941559557649),
 (295, 0.7615941559557649),
 (296, 0.7615941559557649),
 (297, 0.7615941559557649),
 (298, 0.7615941559557649),
 (299, 0.7615941559557649),
 (300, 0.7615941559557649),
 (302, 0.7615941559557649),
 (303, 0.7615941559557649),
 (304, 0.7615941559557649),
 (305, 0.7615941559557649),
 (306, 0.7615941559557649),
 (308, 0.7615941559557649),
 (309, 0.7615941559557649),
 (310, 0.7615941559557649),
 (314, 0.7615941559557649),
 (315, 0.7615941559557649),
 (316, 0.7615941559557649),
 (317, 0.7615941559557649),
 (318, 0.7615941559557649),
 (319, 0.7615941559557649),
 (320, 0.7615941559557649),
 (321, 0.7615941559557649),
 (322, 0.7615941559557649),
 (323, 0.7615941559557649),
 (324, 0.7615941559557649),
 (325, 0.7615941559557649),
 (326, 0.7615941559557649),
 (327, 0.7615941559557649),
 (328, 0.7615941559557649),
 (329, 0.7615941559557649),
 (330, 0.7615941559557649),
 (331, 0.7615941559557649),
 (332, 0.7615941559557649),
 (333, 0.7615941559557649),
 (334, 0.7615941559557649),
 (335, 0.7615941559557649),
 (336, 0.7615941559557649),
 (337, 0.7615941559557649),
 (338, 0.7615941559557649),
 (339, 0.7615941559557649),
 (340, 0.7615941559557649),
 (341, 0.7615941559557649),
 (344, 0.7615941559557649),

In [88]:
#Finally lets make a function to get top 10 recommendation of movies
def give_rec(title,sig=sig):
    #Get the corresponding to original_title
    index = indices[title]
    
    #Get the pairwise similiarity scores
    sig_scores = list(enumerate(sig[index]))
    
    #Sort the movies
    sig_scores = sorted(sig_scores,key=lambda x :x[1],reverse=True)
    
    #Score of 10 most similar movies
    sig_scores = sig_scores[1:11]
    
    #Movie indices
    movie_indices = [i[0] for i in sig_scores]
    
    #Top 10 most similar movies
    return movie[['original_title','vote_average']].iloc[movie_indices]

In [89]:
#Lets test it out
give_rec('Supernova')

                                       original_title  vote_average
2129                                   The Black Hole           6.1
0                                              Avatar           7.2
634                                        The Matrix           7.9
1294                                         Serenity           7.4
1341                                 Obitaemyy Ostrov           5.3
2143                                       Ghost Ship           5.3
2965                                         Darkness           5.6
171   Master and Commander: The Far Side of the World           6.9
770                                     Event Horizon           6.5
3158                                            Alien           7.9